.jumbotron {
    width: 700px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.table{
     margin-top: 20px;
}

.form-control {
    margin-bottom: 20px;
}

.marcado {
    background-color: red;
}

.textbold {
    font-weight: bold;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color:  rgba(72, 113, 248, 0.068);
}

  .footer {
      text-align: center;
}

.selector {
    background-color: red;
}